{
  "babel": {
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "browsers": [">1%", "last 4 versions", "not ie < 9"]
          },
          "corejs": 3,
          "useBuiltIns": "usage",
          "debug": false
        }
      ]
    ],
    "ignore": ["./node_modules"],
    "compact": false,
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["."],
          "alias": {
            "~/src": "./src",
            "~/views": "./src/views",
            "~/components": "./src/components",
            "~/utils": "./src/utils",
            "~/stores": "./src/stores",
            "~/types": "./src/@types",
            "~/styles": "./src/styles"
          }
        }
      ]
    ]
  }
}
