{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "jest", "prettier", "react-hooks", "@typescript-eslint"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": ["airbnb", "plugin:react/recommended", "plugin:prettier/recommended", "prettier"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "React": "readonly",
    "JSX": "readonly"
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-unused-vars-experimental": "warn",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-non-null-assertion": "warn",
    "@typescript-eslint/no-inferrable-types": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "warn",
    "jsx-a11y/anchor-is-valid": "warn",
    "jsx-a11y/alt-text": "warn",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "jsx-quotes": ["error", "prefer-single"],
    "react-hooks/rules-of-hooks": "error",
    "react/button-has-type": "off",
    "react/display-name": "off",
    "react/forbid-prop-types": "off",
    "react/prop-types": "off",
    "react/js-no-target-blank": "off",
    "react/destructuring-assignment": "off",
    "react/static-property-placement": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "warn",
    "import/no-mutable-exports": "warn",
    "import/order": "warn",
    "no-return-assign": "off",
    "no-param-reassign": "off",
    "no-shadow": "off",
    "no-use-before-define": ["off", { "variables": false }],
    "no-await-in-loop": "off",
    "no-nested-ternary": "off",
    "no-plusplus": "off",
    "no-unused-vars": "off",
    "no-empty": "warn",
    "no-empty-function": "warn",
    "no-restricted-syntax": "warn",
    "no-useless-constructor": "warn",
    "no-console": ["warn", { "allow": ["info", "error", "warn"] }],
    "new-cap": "off",
    "max-classes-per-file": "off",
    "camelcase": "off",
    "consistent-return": "off",
    "class-methods-use-this": "off",
    "eqeqeq": "warn",
    "prefer-const": "warn",
    "guard-for-in": "warn",
    "array-callback-return": "warn",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },
      // 모듈 alias 사용을 위해 "eslint-import-resolver-typescript" 패키지를 설치후 아래와 같이 설정
      "typescript": {
        "project": "./tsconfig.json"
      }
    }
  }
}
